{% extends 'base.html' %}
{% block content %}

<div class="d-flex align-items-center py-4 " style="height: 500px;">
    <main style="width: 400px;" class="form-signin  lg m-auto p-2">
      <form>
        {% load static %}
        <img class="mb-4" src="{% static 'images/logo.jpg' %}" alt="" width="72" height="57">
        
        <h1 class="h3 mb-3 fw-normal">Please insert your email</h1>
  
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <br>

        <button class="btn btn-primary w-100 py-2" type="submit">Recovery</button>
        <br>
      </form>
    </main>
  </div>

{% endblock %}



